.container__img{
    position: relative;
    height: 400;
    width: 100%;
}

.box__title{
    position: absolute;
    top: 450px;
    line-height: 158px;
    height: 158px;
    width: 100%;
    background-color:rgba(235, 87, 87, 0.534);
    font-family: 'Quicksand', sans-serif;
    color: #F2F2F2;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container__main{
    max-width: 1200px;
    margin: 0 auto;
}

.container__icon{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
}

.icon{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 29px;
}