.card {
    border: 1px solid #eb5757;
    border-radius: 5px;
    margin: 10px;
}

.image__container{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.card__title {
    color: #F2F2F2;
    background-color:rgba(235, 87, 87, 0.6);
    width: 387px;
    height: 64px;
    position: absolute;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-top: 16px;
}

.card__info {
    font-size: 14px;
    padding-top: 19px;
}

.time__container {
    display: row;   
    align-items: center;
}