.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #333333;
    margin-bottom: 56px;
}

.header__title {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 32px;
    margin-left: 8px;
}

.header__subtitle {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    text-align: end;
}